<p>Are you sure you want to delete <%= @item.content %>?</p>

<form method="post" action="/items/<%=@item.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
<form>
