<link href="/css/signin.css" rel="stylesheet">


<body>

    <div class="container">

      <form class="form-signin" action="/signup" method="POST">
        <h2 class="form-signin-heading">We've been expecting you...</h2>
        <input type="text" name="username" class="form-control" placeholder="User Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Make it unique!" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Start doing more</button>
      </form>

    </div> <!-- /container -->

  </body>
</html>
