<link rel="stylesheet" href="/css/cover.css">

<h1>Are you sure you want to delete <%= @item.content %>?</h1>

<form method="post" action="/items/<%=@item.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <div class="col-lg-4 col-lg-offset-4">

    <button class="btn btn-lg btn-primary btn-block" type="submit">KILL IT!</button>
  </div>

</form>
<div class="col-lg-4 col-lg-offset-4">
  <small>(Or you can change your mind)</small>
  <div class="col-lg-4 col-lg-offset-4">
    <a href="/home"><button class="btn btn-lg btn-primary btn-block">Back Home</button></a>
  </div>
