<link rel="stylesheet" href="/css/cover.css">
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>

            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Havick Development</h1>
            <h3>This little Sinatra ditty was built with love by Havick</h3>
                <h3> Special thanks to the crew @ Flatiron School </h3>
                <small>(where code matters.)</small>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Do or do not, there is no "try"</p>
            </div>
          </div>

        </div>

      </div>

    </div>
