<link rel="stylesheet" href="/css/cover.css">
<div class="wrapper">
  <div class="col-lg-8 col-lg-offset-2">


<h1 class="jumbotron">Complaint Department</h1>

<h2>complaints@doesntreallyexist.mail</h2>
</div>
  </div>
