<h2>Add a List</h2>
<form action="/lists" method="POST">
  <p>List Name<input type="text" name="name" placeholder="Make it epic"></p>
  <p>List Type<input type="text" name="list_type" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_1" placeholder="go"></p>
  <p>Item<input type="text" name="item_2" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_3" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_4" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_5" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_6" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_7" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_8" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_9" placeholder="What kind of stuff are we doing?"></p>
  <p>Item<input type="text" name="item_10"placeholder="What kind of stuff are we doing?"></p>
<button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
