<h2>Add a List</h2>
<form action="/lists" method="POST">
  <p>List Name<input type="text" name="name" placeholder="Make it epic"></p>
  <p>List Type<input type="text" name="list_type" placeholder="What kind of stuff are we doing?"></p>

<button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
</form>
</form>
